---
layout: default
title : Publications
navbar_name: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

<blockquote class="page-quote">
  Ideas are easy. Execution is everything.
</blockquote>

{% assign visible_pubs = site.publications | where_exp: "item", "item.hidden != true" %}
{% assign pubs_by_year = visible_pubs | sort: "date" | reverse | group_by_exp: "item", "item.pub_date" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% unless year.name == blank %}
        <h2 class="year-heading" id="year-{{ year.name }}">{{ year.name }}</h2>
        <section class="site-section my-0">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item %}
            {% endfor %}
        </section>
        {% endunless %}
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top year-nav">
            {% for year in pubs_by_year %}
            {% unless year.name == blank %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endunless %}
            {% endfor %}
        </div>
    </div>

</div>
