{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<section class="site-section">
    <div class="section-heading">
        <h2><i class="fas fa-rss"></i> News</h2>
    </div>

    {% for year in news_by_year %}
    <div class="news-group">
        <div class="news-year">{{ year.name }}</div>
        <div>
            {% for item in year.items %}
            <div class="news-item">
                <div>{{ item.title }}</div>
                <time class="news-date" datetime="{{ item.date | date: '%Y-%m-%d' }}">{{ item.date | date: "%b %d" }}</time>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
