<section class="profile-hero">
    <div class="profile-hero__grid">
        {% if site.data.profile.show_portrait %}
        <div>
            <img
                src="{{ site.data.profile.portrait_url }}"
                alt="Portrait of Changran Xu"
                class="profile-hero__portrait"
            >
        </div>
        {% endif %}

        <div>
            <div class="profile-hero__name">{{ site.data.profile.primary_name }}{% if site.data.profile.secondary_name %} <small>{{ site.data.profile.secondary_name }}</small>{% endif %}</div>
            <div class="profile-hero__position">
                {% for position in site.data.profile.positions %}
                <div>{{ position }}</div>
                {% endfor %}
                {% if site.data.profile.cv_link %}
                <a target="_blank" rel="noopener" href="{{ site.data.profile.cv_link }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a>
                {% endif %}
            </div>
            <p class="profile-hero__bio">{{ site.data.profile.short_bio }}</p>
        </div>
    </div>

    <div class="profile-hero__links">
        <a class="profile-link" href="mailto:{{ site.data.profile.email | encode_email }}">
            <i class="fas fa-at"></i> <span class="email-text">{{ site.data.profile.email | replace: "@", "(at)" }}</span>
        </a>

        {% if site.data.profile.gscholar %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://scholar.google.com/citations?user={{ site.data.profile.gscholar }}&hl=en">
            <i class="fab fa-google"></i> Google Scholar
        </a>
        {% endif %}

        {% if site.data.profile.sscholar %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://www.semanticscholar.org/author/{{ site.data.profile.sscholar }}">
            <i class="fa fa-book"></i> Semantic Scholar
        </a>
        {% endif %}

        {% if site.data.profile.github %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://github.com/{{ site.data.profile.github }}">
            <i class="fab fa-github"></i> GitHub
        </a>
        {% endif %}

        {% if site.data.profile.wechat_qrcode %}
        <a class="profile-link" data-toggle="modal" data-target="#modal-wechat" href="#modal-wechat">
            <i class="fab fa-weixin"></i> WeChat
        </a>
        {% endif %}

        {% if site.data.profile.twitter %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://twitter.com/{{ site.data.profile.twitter }}">
            <i class="fab fa-twitter"></i> Twitter
        </a>
        {% endif %}

        {% if site.data.profile.zhihu %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://www.zhihu.com/people/{{ site.data.profile.zhihu }}">
            <i class="fab fa-zhihu"></i> ZhiHu
        </a>
        {% endif %}

        {% if site.data.profile.resume %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://changranxu.github.io/{{ site.data.profile.resume }}">
            <i class="fa fa-file"></i> Resume
        </a>
        {% endif %}

        {% if site.data.profile.linkedin %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
        {% endif %}

        {% if site.data.profile.orcid %}
        <a class="profile-link" target="_blank" rel="noopener" href="https://orcid.org/{{ site.data.profile.orcid }}">
            <i class="fab fa-orcid"></i> ORCID
        </a>
        {% endif %}
    </div>
</section>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode }}" alt="WeChat QR code" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-2">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
