{% assign item = include.item %}
<article class="publication-item {% unless item.cover %}publication-item--no-cover{% endunless %}">
    {% if item.cover %}
    <div>
        <img data-src="{{ item.cover }}" alt="{{ item.title }}" class="lazy publication-cover" src="assets/images/empty_300x200.png">
    </div>
    {% endif %}

    <div>
        <h3 class="publication-title">{{ item.title }}</h3>
        <p class="publication-meta">{% include widgets/author_list.html authors=item.authors %}</p>
        <p class="publication-meta">{{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }} {{ item.pub_date }} {{ item.pub_last }}</p>

        {% if item.links %}
        <div class="publication-links">
            {% for link in item.links %}
            {% if link[1].url %}
            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">{{ link[0] }}</a>
            {% else %}
            <a target="_blank" rel="noopener" href="{{ link[1] }}">{{ link[0] }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</article>
